.scroll-to-top {
    position: sticky;
    bottom: 5vmin;
    width: 5rem;
    margin-bottom: 2rem;
    left: calc(100vw - 7rem);
    aspect-ratio: 2/1.5;
    background: hsl(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    border: none;
    border-radius: 999px;
    font-size: 1.5rem;
    color: var(--dark-grey);
    cursor: pointer;
    z-index: 20;
}
