section .banner-contact {
  margin-top: 0;
}

.banner-img {
  height: 25vh;
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.contact-direct-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contact-title {
  font-size: 2.5rem;
}

.contact-direct-detail {
  width: calc(30% - 3rem);
  aspect-ratio: 1/0.75;
  background: var(--medium-grey);
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
  grid-template-areas: "icon" "name" "link";
  place-items: center;
  font-size: 1.5rem;
  padding: 1.5rem;
}

.contact-direct-icon {
  font-size: 4.25rem;
  grid-area: icon;
}

.contact-direct-name {
  grid-area: name;
}

.contact-direct-link {
  grid-area: link;
}

.contact-form {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.contact-form-inputs,
.contact-form-txt-sub {
  position: relative;
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
  justify-content: center;
}

.contact-form-input input,
.contact-form-txt,
.contact-form-btn {
  border: none;
}

.contact-form-input input,
.contact-form-select,
.contact-form-btn {
  height: 4.5rem;
}

.contact-form-input input,
.contact-form-select,
.contact-form-txt {
  background: var(--medium-grey);
  font-family: var(--font-fam2);
  font-size: 1.15rem;
  color: var(--dark-grey);
  line-height: 1.25;
}

.contact-form-input {
  position: relative;
  height: 5rem;
  width: 100%;
  text-align: center;
}

.contact-form-input input {
  width: 75%;
  padding: 0 2.5%;
}

.contact-form-select {
  cursor: pointer;
  width: 80%;
  border: none;
  padding: 0 2.5%;
}

.contact-form-txt {
  width: 75%;
  height: 18rem;
  padding: 1rem 2.5%;
}

.input-txt-label {
  font-size: 0.9rem;
  padding: 0.5vw;
  position: absolute;
  left: 10%;
  top: 0;
  transition: all 0.25s ease;
  pointer-events: none;
}

input:focus ~ .input-txt-label,
textarea:focus ~ .input-txt-label,
input:valid ~ .input-txt-label,
textarea:valid ~ .input-txt-label {
  font-size: 0.75rem;
  padding: 0;
}

.contact-form-btn {
  background: var(--dark-grey);
  color: var(--light-grey);
  border-radius: 2rem;
  width: 80%;
  cursor: pointer;
  font-size: 1.75rem;
  transition: background-color 0.125s ease-in-out;
}
.contact-form-btn:hover {
  background: var(--light-grey);
  color: var(--dark-grey);
}

.contact-form-sent {
  display: none;
  place-content: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: hsla(0deg, 0%, 0%, 0.25);
  opacity: 0;
  transition: 0.125s opacity ease-in-out;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  z-index: 150;
}
.contact-form-sent .contact-form-sent-wrapper {
  display: flex;
  flex-direction: column;
  width: 75vw;
  height: 75vh;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  background: linear-gradient(var(--light-grey), var(--medium-grey));
  border: 2px solid var(--dark-grey);
  font-size: 2rem;
}
.contact-form-sent .contact-form-sent-message {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.contact-form-sent .contact-form-sent-message img {
  width: 4rem;
}
.contact-form-sent .contact-form-sent-button {
  background-color: var(--dark-grey);
  border: none;
  border-radius: 2rem;
  color: var(--light-grey);
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 2rem;
}
.contact-form-sent .contact-form-sent-button:hover {
  background: var(--medium-grey);
  color: var(--dark-grey);
}

@media screen and (max-width: 800px) {
  .contact-direct-container {
    flex-direction: column;
    gap: 1.5rem;
  }

  .contact-direct-detail {
    width: 100%;
    aspect-ratio: auto;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "icon name" "icon link";
    place-items: center;
    padding: 0;
  }

  .contact-direct-icon {
    font-size: 5rem;
    padding: 1.5rem;
  }

  .contact-form {
    flex-direction: column;
    gap: 2.5rem;
  }

  .contact-form-inputs,
.contact-form-txt-sub {
    width: 100%;
  }

  .contact-form-input input {
    width: 95%;
  }

  .contact-form-select {
    width: 100%;
  }

  .contact-form-txt {
    width: 95%;
    padding: 5% 2.5%;
  }

  .input-txt-label {
    left: 2.5%;
    top: 2.5%;
  }

  .contact-form-btn {
    width: 95%;
  }
}/*# sourceMappingURL=contact.css.map */