.solutions-wrapper {
    .solution {
        &:nth-child(even) {
            background: var(--medium-grey);
        }
    }
}

.solution {
    width: 100%;
    height: 30rem;
    display: grid;
    grid-template: 2rem auto / 2.5fr 3fr;
    grid-template-areas:
        "title title"
        "img text";
    place-items: center;
    padding: 2.5rem 0 2.5rem 2.5rem;
    background: var(--light-grey);
}

.solution-title {
    grid-area: title;
    font-size: 2rem;
    font-weight: bold;
    justify-self: start;
    margin-left: 5rem;
}

.solution-text {
    grid-area: text;
    margin: 0;
}

.solution-img {
    grid-area: img;
    height: 18rem;
    width: 30rem;
    object-fit: cover;
    justify-self: center;
}

#calculator-link{
    position: relative;
    margin-inline: auto;
    text-align: center;
    font-size: 1.25em;
    &::after{
        content:"";
        position: absolute;
        left: 0;
        bottom: 0px;
        width: 100%;
        height: 2px;
        background: var(--dark-grey);
        animation: 2.5s underlineLink 1.5s linear infinite;
        transform-origin: left;
    }
}

@keyframes underlineLink {
    0%{
        transform: scaleX(0);
    }
    20%{
        transform: scaleX(1);
    }
}

@media screen and (max-width: 800px) {

    .solution {
        width: 100vw;
        height: auto;
        grid-template: repeat(3, auto) / 1fr;
        grid-template-areas:
            "title"
            "img"
            "text";
        place-items: center;
        padding: 0;
        background: var(--light-grey);
    }

    .solution-title {
        grid-area: title;
        margin-left: 0;
        justify-self: center;
        padding: 2rem 0;
    }

    .solution-text {
        grid-area: text;
        padding: 1.5rem;
    }

    .solution-img {
        grid-area: img;
        height: 20rem;
        width: 100vw;
        object-fit: cover;
        justify-self: center;
    }
}
