.cta-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 2.5rem;
  max-width: 1000px;
  gap: 2.5rem;
  padding: 2.5rem 0;
}

.tagline {
  font-weight: bolder;
  line-height: 1.5;
  text-align: center;
}

.contact-link-button {
  position: relative;
  padding: 2.5rem;
  cursor: pointer;
  color: var(--light-grey);
  background: var(--dark-grey);
  text-align: center;
  border-radius: 999px;
  font-size: 2.5rem;
  border: none;
  border: 1px solid var(--dark-grey);
  transition: background-color 0.125s ease-in-out;
}
.contact-link-button::before, .contact-link-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border: 1px solid var(--dark-grey);
  border-radius: inherit;
  transform-origin: center;
  transform: translate(-50%, -50%) scale(1);
  animation: 4s pulse linear infinite;
}
.contact-link-button::after {
  animation-delay: 0.25s;
}
.contact-link-button:hover {
  color: var(--dark-grey);
  background: var(--light-grey);
}

@keyframes pulse {
  0%, 70% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  85% {
    transform: translate(-50%, -50%) scale(1.25);
    opacity: 0.25;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0;
  }
}