.cta-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 2.5rem;
    max-width: 1000px;
    gap: 2.5rem;
    padding: 2.5rem 0;
}

.tagline{
    font-weight: bolder;
    line-height: 1.5;
    text-align: center;
}

.contact-link-button{
    padding: 2.5rem;
    cursor: pointer;
    color: var(--light-grey);
    background: var(--dark-grey);
    text-align: center;
    border-radius: 999px;
    font-size: 2.5rem;
    border: none;
}
