.legal-notice-wrapper {
    display: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: hsl(0deg, 0%, 0%, 0.25);
    opacity: 0;
    transition: 0.125s opacity ease-in-out;
    backdrop-filter: blur(2px);
}

.legal-notice {
    width: min(75vw, 1000px);
    height: 80vh;
    overflow-y: scroll;
    background: var(--light-grey);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5rem;
    border: 2px solid var(--dark-grey);
}

.exit-cross {
    cursor: pointer;
    position: sticky;
    color: crimson;
}
