.transition-slide{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 999;
}

.transition-slide-content{
    height: inherit;
    background: var(--light-grey);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 4.5rem;
    transform: translateX(-100%);
    animation: slide-in .5s ease-in-out;
}

@keyframes slide-in{
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(100%);
    }
}