.banner-illus {
    position: absolute;
    width: 100vw;
    height: 33vh;
    z-index: -1;

    img {
        height: inherit;
        width: inherit;
        object-fit: cover;
    }

    .overlay {
        width: inherit;
        height: 50%;
        position: absolute;
        bottom: 0;
        background: radial-gradient(ellipse at center, hsl(0deg, 0%, 100%, 1) 10%, hsl(0deg, 0%, 100%, 0));
    }
}

.banner-accueil .banner-title{    
    position: absolute;
    bottom: 0;
}

.banner-tagline {
    text-align: center;
    font-size: 1.75rem;
    padding: 0.75rem 0;
    max-width: 1200px;
}

// Contenu de la page //

.presentation {
    display: flex;
    gap: 3rem;
}

.id-pic {
    height: 20rem;
    width: auto;
}

.presentation-detail-container {
    height: 100%;
    width: 100%;
    background: var(--medium-grey);
    border-radius: 0 10rem 0 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

// .presentation-detail-text{
//     font-family: var(--font-fam2);
//     font-size: 1.35rem;
//     line-height: 1.5;
//     margin: 0 5rem;
// }

.presentation-detail-descr {
    align-self: flex-end;
    margin: 0 5rem;
    display: flex;
    align-items: baseline;
    gap: 1.5rem;

    .presentation-detail-name {
        font-size: 2rem;
        font-weight: bold;
    }

    .presentation-detail-rank {
        font-size: 1.25rem;
    }
}

.user-review {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

.user-container {
    width: 49%;
    display: flex;
    gap: 1.5rem;

    &:nth-child(even) {
        flex-direction: row-reverse;

        .user-notice-container {
            border-radius: 7.5rem 0 7.5rem 0;

            .user-name {
                padding-left: 1.5rem;
                align-self: flex-start;
            }
        }
    }

    .user-img {
        width: 9rem;
        aspect-ratio: 1/1.3;
        object-fit: cover;
    }
}

.user-notice-container {
    margin: 0;
    width: 100%;
    background: var(--medium-grey);
    border-radius: 0 7.5rem 0 7.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;

    .user-notice {
        margin: 1.75rem;
        margin-bottom: 0;
    }

    .user-name {
        padding-right: 1.5rem;
        align-self: flex-end;
        font-size: 1.5rem;
    }
}
