.banner-illus {
    position: absolute;
    width: 100vw;
    height: 33vh;
    z-index: -1;

    img {
        height: inherit;
        width: inherit;
        object-fit: cover;
    }

    .overlay {
        width: inherit;
        height: 50%;
        position: absolute;
        bottom: 0;
        background: radial-gradient(ellipse at center, hsl(0deg, 0%, 100%, 1) 10%, hsl(0deg, 0%, 100%, 0));
    }
}

.banner-accueil .banner-title {
    position: absolute;
    bottom: 0;
}

.banner-accueil > .banner-title {
    height: 50%;
}

.banner-tagline {
    text-align: center;
    font-size: 1.75rem;
    padding: 0.75rem 0;
    max-width: 1200px;
}

// Contenu de la page //

.presentation {
    display: grid;
    grid-template: 2fr 1fr / 20rem auto;
    grid-template-areas:
        "img text"
        "img prez";
    column-gap: 3rem;
}

.id-pic {
    grid-area: img;
    height: 20rem;
    width: auto;
}

.presentation-detail-container {
    grid-column: 2;
    grid-row: 1/3;
    height: 100%;
    width: 100%;
    background: var(--medium-grey);
    border-radius: 0 10rem 0 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.presentation-detail-text {
    align-self: center;
    grid-area: text;
}

.presentation-detail-descr {
    align-self: center;
    justify-self: end;
    grid-area: prez;
    margin: 0 5rem;
    display: flex;
    align-items: baseline;
    gap: 1.5rem;

    .presentation-detail-name {
        font-size: 2rem;
        font-weight: bold;
    }

    .presentation-detail-rank {
        font-size: 1.25rem;
    }
}

.user-review {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

.user-container {
    width: calc(50% - 0.75rem);
    display: flex;
    gap: 1.5rem;

    &:nth-child(even) {
        flex-direction: row-reverse;

        .user-notice-container {
            border-radius: 7.5rem 0 7.5rem 0;

            .user-name {
                padding-left: 1.5rem;
                align-self: flex-start;
            }
        }
    }

    .user-img {
        width: 9rem;
        aspect-ratio: 1/1.3;
        object-fit: cover;
    }
}

.user-notice-container {
    margin: 0;
    width: 100%;
    background: var(--medium-grey);
    border-radius: 0 7.5rem 0 7.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;

    .user-notice {
        margin: 1.75rem;
        margin-bottom: 0;
    }

    .user-name {
        padding-right: 1.5rem;
        align-self: flex-end;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 800px) {
    .banner-tagline {
        max-width: 100vw;
    }

    // Contenu de la page //

    .presentation {
        gap: 1.5rem;
    }

    .id-pic {
        max-width: 50vw;
        height: auto;
        max-height: 20rem;
    }

    .presentation-detail-container {
        display: none;
    }

    .presentation-detail-descr {
        margin: 0.5rem;
        flex-direction: column;
        gap: 1.5rem;
    }

    .user-review {
        justify-content: center;
    }

    .user-container {
        width: calc(100% - 1rem);
        gap: 1rem;

        &:nth-child(even) {
            .user-notice-container {
                border-radius: 0;
            }
        }
    }

    .user-notice-container {
        border-radius: 0;
    }
}

@media screen and (max-width: 600px) {
    .presentation {
        grid-template: repeat(3, auto) / 1fr 1fr;
        grid-template-areas:
            "img text"
            "img text"
            "prez prez";
        column-gap: 1.5rem;
    }

    .presentation-detail-descr {
        flex-direction: row;
        justify-self: center;
    }
}

@media screen and (max-width: 480px) {
    .presentation {
        grid-template: repeat(2, auto) / 1fr 1fr;
        grid-template-areas:
            "img text"
            "prez text";
        column-gap: 1rem;
    }

    .id-pic {
        align-self: end;
    }

    .presentation-detail-descr {
        flex-direction: column;
        padding: 0 .5rem;
    }
}