.footer {
    display: flex;
    background: linear-gradient(var(--medium-grey), var(--light-grey));
    border-top: 5px solid var(--dark-grey);
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    & > div {
        cursor: pointer;
    }
}

.footer-logo-container {
    margin-left: var(--margin-side);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.85rem;
}

.footer-logo-container-img {
    height: 2.5rem;
    aspect-ratio: 1;
    padding: 0.25rem 0;
    object-fit: contain;
}
